// Specific CSS for your home-page

.banner {
height: 65vh;
background-size: cover;
background-position: center;
position:relative;
}

.credits {
  position:absolute;
  bottom: 0px;
  right: 0px;
}

.btn-banner{
 background-color: #16213E;
 color: white;
}

.homegrid {
 display:grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
 grid-gap: 16px;
}
