.container-button {
  display: flex;
  justify-content: center;
  align-content: center;
}

.carousel-active {
  display: flex;
  justify-content: center;
}

.carousel-item img {
  margin: auto; // fix to center the image
}
