// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "pages/edit";
@import "pages/new";
@import "pages/show";
@import "pages/home";


body {
    background-color: #e6e8e8;
  }
